.main {
  display: flex;
  /* border: 10px solid black; */
  justify-content: center;
  margin: 40px 0;
}

.card {
  width: 60%;
  background-color: white;
  border-radius: 30px;
  justify-content: center;
  flex-direction: column;
  margin-top: 50px;
}

.image {
  width: 90%;
  align-self: center;
  border: 5px solid peachpuff;
  margin: 0 5%;
  border-radius: 5px;
}

.description {
  text-align: center;
  padding: 30px 0;
  font-size: 24px;
  font-family: 'Pacifico', cursive;
}

h1 {
  padding: 50px 0;
}

.button {
  margin: 5px 0px 30px 40px;
  background-color: var(--peach-color);
  /* margin-right: 10px; */
  padding: 5px 10px;
  border-radius: 8px;
  outline: none;
  border: none;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
}

.button:hover {
  background-color: tomato;
}