.main {
  border: 1px solid black;
  display: flex;
  justify-content: center;
}

.card {
  width: 1000px;
  /* height: 1200px; */
  background-color: antiquewhite;
  display: flex;
  border-radius: 30px;
}

.image {
  width: 100%;
  align-self: center;
  padding: 100px 0;
}
