.card {
  width: 500px;
  /* background-color: var(--white); */
  background-color: white;
  border: 10px solid var(--peach-color);
  border-radius: 10px;
}

.card:hover {
    cursor: pointer;
}

.img {
  width: 100%;
}
